*{
  box-sizing: border-box;
}

.para1, .para2, .para3, .para4{
  padding: 0.5rem;
 /* border: 1px solid darkblue;*/
  width: 50%;
  float: left;
}
body .para1{
  background-color: #FF69B4;
}
body .para2{
  background-color: #ADFF2F;
}
body .para3{
  background-color: #98F5FF;
}
body .para4{
  background-color: #C1FFC1;
}
/*.para3, .para4{
  border: 1px solid black;
  background-color: lightgreen;
  width: 50%;
  float: right;
}*/

.para{
  border: 3px solid #6E7B8B;
}
.clearflex{
  clear: both;
}